/* 
1024 - 1280
480 - 768
all - 480
*/
*{ 
    margin:0; 
    padding:0; 
}
.container{
    border: 1px;
}
body{ 
    text-align: center;
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
    body{
        margin: auto;
    }
    #back{
        position: absolute;
        left: 0px;
        width: 100%;
    }
    #logo{
        position: absolute;
        top: 1vw;
        left: 21%;
        width: 3.2%;
    }
    #menu{
        position: absolute;
        top: 1.6vw;
        left: 76.3%;
        width: 2.55%;
    }
    .container{
        max-width: 1280px;
        margin: 0 auto;
        border-color: red;
        border-style: inset;
    }

    .text{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #header_text1{
        padding-top: 10%;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 3.35vw;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF; 
    }
    #header_text2{
        padding-top: 10px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9vw;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF; 
    }
    .numbers{
        float: left;
        position: relative;
        background: #F7F7F7;
        margin-top: 7.5%;
        margin-left: 21%;
        width: 57.8vw;
        height: 15.5vw;
    }
    .numbers_item1, .numbers_item2, .numbers_item3, .numbers_item4{
        position: absolute;
        margin-left: 6.5vw;
        margin-top: 2.8vw;
        width: 10vw;
        height: 10vw;
        text-align: center;
    }
    .numbers_item1{ margin-left: 6.5vw; }
    .numbers_item2{ margin-left: 18.1vw; }
    .numbers_item3{ margin-left: 29.7vw; }
    .numbers_item4{ margin-left: 41.3vw; }
    #nt1{

        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 3.8vw;
        text-align: center;
        text-transform: uppercase;
        color: #F7654A;
    }
    #nt2{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8vw;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
    #nt3{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 1vw;
        text-align: center;
        color: #999999;
    }
} 
@media all and (min-width: 768px) and (max-width: 1024px) { 
    body{
        margin: auto;
    }
    #back{
        position: absolute;
        left: 0px;
        width: 100%;
    }
    #logo{
        position: absolute;
        top: 1vw;
        left: 21%;
        width: 3.2%;
    }
    #menu{
        position: absolute;
        top: 1.6vw;
        left: 76.3%;
        width: 2.55%;
    }
    .container{
        max-width: 1024px;
        margin: 0 auto;
        border-color: red;
        border-style: inset;
    }

    .text{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #header_text1{
        padding-top: 10%;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 3.35vw;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF; 
    }
    #header_text2{
        padding-top: 10px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9vw;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF; 
    }
    .numbers{
        position: relative;
        background: #F7F7F7;
        margin-top: 7.5%;
        margin-left: 21%;
        width: 57.8vw;
        height: 15.5vw;
    }
    .numbers_item1, .numbers_item2, .numbers_item3, .numbers_item4{
        position: absolute;
        margin-left: 6.5vw;
        margin-top: 2.8vw;
        width: 10vw;
        height: 10vw;
        text-align: center;
    }
    .numbers_item1{ margin-left: 6.5vw; }
    .numbers_item2{ margin-left: 18.1vw; }
    .numbers_item3{ margin-left: 29.7vw; }
    .numbers_item4{ margin-left: 41.3vw; }
    #nt1{

        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 3.8vw;
        text-align: center;
        text-transform: uppercase;
        color: #F7654A;
    }
    #nt2{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8vw;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
    #nt3{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 1vw;
        text-align: center;
        color: #999999;
    }
}
@media all and (min-width: 480px) and (max-width: 768px) { 
    body{
        margin: auto;
    }
    #back{
        position: absolute;
        left: 0px;
        width: 100%;
    }
    #logo{
        position: absolute;
        top: 1vw;
        left: 21%;
        width: 3.2%;
    }
    #menu{
        position: absolute;
        top: 1.6vw;
        left: 76.3%;
        width: 2.55%;
    }
    .container{
        max-width: 1024px;
        margin: 0 auto;
        border-color: red;
        border-style: inset;
    }

    .text{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #header_text1{
        padding-top: 10%;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 3.35vw;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF; 
    }
    #header_text2{
        padding-top: 10px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9vw;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF; 
    }
    .numbers{
        position: relative;
        background: #F7F7F7;
        margin-top: 7.5%;
        margin-left: 21%;
        width: 57.8vw;
        height: 15.5vw;
    }
    .numbers_item1, .numbers_item2, .numbers_item3, .numbers_item4{
        position: absolute;
        margin-left: 6.5vw;
        margin-top: 2.8vw;
        width: 10vw;
        height: 10vw;
        text-align: center;
    }
    .numbers_item1{ margin-left: 6.5vw; }
    .numbers_item2{ margin-left: 18.1vw; }
    .numbers_item3{ margin-left: 29.7vw; }
    .numbers_item4{ margin-left: 41.3vw; }
    #nt1{

        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 3.8vw;
        text-align: center;
        text-transform: uppercase;
        color: #F7654A;
    }
    #nt2{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8vw;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
    #nt3{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 1vw;
        text-align: center;
        color: #999999;
    }
}
@media all and (max-width: 480px) {
    body{
        margin: auto;
    }
    #back{
        position: absolute;
        top: -50;
        left: -100%;
        width: 200%;
    }
    #logo{
        position: absolute;
        top: 1vw;
        left: 21%;
        width: 7.2%;
    }
    #menu{
        position: absolute;
        top: 1.6vw;
        left: 76.3%;
        width: 6.55%;
    }
    .container{
        max-width: 1024px;
        margin: 0 auto;
        border-color: red;
        border-style: inset;
    }

    .text{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #header_text1{
        padding-top: 30%;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 5vw;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF; 
    }
    #header_text2{
        margin: auto;
        padding-top: 0px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF; 
    }
    .numbers{
        position: relative;
        background: #F7F7F7;
        margin-top: 7%;
        margin-left: 30%;
        width: 40vw;
        height: 40vw;
    }
    .numbers_item1, .numbers_item2, .numbers_item3, .numbers_item4{
        position: absolute;
        margin-left: 5vw;
        margin-top: 2.8vw;
        width: 30vw;
        height: 30vw;
        text-align: center;
    }
    .numbers_item1{}
    .numbers_item2{display: none;}
    .numbers_item3{display: none;}
    .numbers_item4{display: none;}
    #nt1{

        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 10.8vw;
        text-align: center;
        text-transform: uppercase;
        color: #F7654A;
    }
    #nt2{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 4.8vw;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
    #nt3{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 3vw;
        text-align: center;
        color: #999999;
    }
}